<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.example.rudresh.tester">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@drawable/tester_icon"
        android:roundIcon="@drawable/tester_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".Main_activity" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".Test_bluetooth" android:label="@string/app_name">
        <intent-filter>
            <action android:name="test_bluetooth"/>
            <category android:name="android.intent.category.DEFAULT"/>
        </intent-filter>
        </activity>
    </application>

</manifest>
